@inherits LayoutComponentBase
@layout BlazorAppShopping.Components.Layout.MainLayout

@* <h1>Manage your account</h1> *@
<section class="shop_section layout_padding">
    <div class="container">
        <div>
    
            <hr />
            <div class="row">
                <div class="col-lg-3">
                    <ManageNavMenu />
                </div>
                <div class="col-lg-9">
                    @Body
                </div>
            </div>
        </div>
    </div>
    </section>
